<!doctype html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <link rel='stylesheet' href='style_home2.css'/>
    <link rel='stylesheet' href='style_menu2.css'/>
  </head>
  <body style="margin-top:80px;">
     <div class = "menuPlace">

     </div>
    <div class="container col-md-9 col-md-offset-1">
      <div class = "row userTitle" style="color:lightslategrey;display:none;">
          <div class="col-md-1" style="margin-right:20px;">
              <img src="upload-default.png" class="img-circle" width="80" height="80">
          </div>
          <div class="col-md-6">
            <h3 style="margin-left:10px;color:darkslategray;" class = "nameTitle">Username</h3>
            <label class = "well-sm emailTitle">Email :</label><span>default@gmail.com</span>
            <label class = "well-sm urlTitle">URL :</label><span>http://default.com</span>
          </div>
      </div>
     
      <!--content contains all loading blocks-->
      <div class="content">
       
      </div><!--end content-->
    </div><!--end main-->
    
   <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script> 
   <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
   <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
   <script type="text/javascript" src = "/firebaseSet.js"></script>
   <script type="text/javascript" src = "/main_product.js"></script>
   <script type="text/javascript" src = "/main_menu.js"></script>
    <script>
      var main = function() {
      //load user title
      showUserTitle();
      //load the database
      showProduct();
       
      };
       //fire when HTML and DOM tree is ready
      $(document).ready(main);
    </script>
  </body>
</html>
