/* Propeller icons */
@import "http://fonts.googleapis.com/icon?family=Material+Icons";
/* Propeller modal */
@import "http://propeller.in/components/modal/css/modal.css";
* {
    margin: 0;
  }
  @font-face {
      font-family: Poppins;
      src: url("https://s3.amazonaws.com/codecademy-content/courses/learn-css-grid/project-ii/Resources/Poppins/Poppins-Regular.ttf");
  }
  body {
  margin-top:100px; 
  font-size:16px;
  }
.row{
  margin-bottom: 20px;
}

label{
  cursor: pointer;
  transition-duration: 0.2s;
}
label:hover{
  color: #ffd400;
}

input[type=checkbox]{
  height: 0.1px;
  width:0.1px;
  visibility: hidden;
}

.preview img{
  width: 100%;
  max-height: 250px;
  overflow: hidden;
  object-fit: cover;
}

#upload-photo{
  opacity: 0;
  overflow: hidden;
  width: 0.1;
  height: 0.1;
  position: absolute;
}
.browsing{
  border:1px solid slategray;
  background-color: slategrey;
  color:white;
}
.photo-label{
  overflow: auto;
}
option, option[select]{
  color:slategrey;
}
.icon i{
  font-size: 36px;
}
.saveTitle h4{
  margin-top:5px;
}
textarea::-webkit-input-placeholder {
    color: white;
}
.btn-primary,.btn-danger, .btn-default, .btn-warning{
  border-radius: 20px;
}