body {
    align-content: center;
    max-width: 600px;
    background-color: #eee;
    opacity: 20%;
    margin: auto;
  }
  
  .wrapper {
      margin: 20px;
      font-family: Arial, Helvetica, sans-serif;
      display: grid;;
      align-content: center;
      grid-gap: 4%;
        grid-template-columns: 71.4% 71.4%;
        background-color: #eee;
      margin-top: 20px;
      margin-bottom: 20px;
  }
  
  .box {
        background-color: #fff;
        color: #888;
      margin: 3px;
        border-radius: 8px;
        padding: 8px;
        font-size: .55em;
  }
  
  .pic {
        grid-column: 1 / 2;
        grid-row: 1;
      height: 200px;
  }
  
  #cen_align {
      margin: auto;
      width: 50%;
      height: 20px;
      align-self:center;
  }
  
  #image_uploader {
      margin: auto;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      width: 90%;
      height:66%;
      background-color: #ccc;
      margin-top: 10px;
      margin-bottom: 20px;
  }
  
  .upload_button {
      color:lightgrey;
      background-color:white;
      border:1px solid lightgrey;
      border-radius:5px;
      font-size: 1.4em;
      padding:0 22px;
      display:inline-block;
      transition-duration:0.4s;
  }
  
  .upload_button:hover {
      background-color:rgb(255,168,148);
      color:white;
      text-decoration: none;
  }
  
  .username {
        grid-column: 2 ;
        grid-row: 1;
      margin-top: 3px;
      height:20px;
  }
  
  #fullname {
      resize: none;
      border-radius: 2%;
      border-color: pink;
      margin: auto;
      float: right;
      width: 71%;
  }
  
  .name {
        grid-column: 2 ;
        grid-row: 1;
      margin-top: 50px;
      height:20px;
  }
  
  .interests {
        grid-column: 2 ;
        grid-row: 1;
      margin-top: 98px;
      height:105px;
  }
  
  /*
  Set the min and max to the same value to prevent
  movement by user
   */
  #txtboxInterests {
    resize: none;
    border-radius: 2%;
    border-color: pink;
    margin-left: 1%;
    width: 95%;
    height: 84%;
  }
  
  .about {
        grid-column: 1/ 3 ;
        grid-row: 8;
      margin-top: 26px;
      height: 300px;
  }
  
  #txtboxAbout {
    resize: none;
    border-radius: 2%;
    border-color: pink;
    margin-left: 1.3%;
    margin-top: 2px;
    width: 96%;
    height: 91%;
  }
  
  .product {
        grid-column: 1 / 3;
      grid-row: 12;
      height: 300px;
      margin-top: 30px;
      margin-bottom: 24px;
        grid-row: 18;
  }
  
  #txtboxProducts {
    resize: none;
    border-radius: 2%;
    border-color: pink;
    margin-left: 1.3%;
    margin-top: 2px;
    width: 96%;
    height: 91%;
  }
  
  #img{
    height: 200px;
    width: 200px;
  }
  #profilePic{
    height: 300px;
    width: 250px;
    
  }
  #passwordResetBackground{
    background-image: url(../images/backg.jpg);
      background-position: center;
      background-size: cover;
      opacity: 0.4;
      height: auto;
  }
  #passwordResetForm{
    margin: 30px;
      margin-top: 10px;
      padding: 15px;
      background-color: antiqueWhite;
      border: solid 5px purple;
      opacity: 0.6;
      width: 20%;
      height: 100%;
      font-weight: bolder;
      opacity: 1.0;
      color: black;
      display: inline-block;
      text-align: center;
      
  }
  h1{
      text-align: center;
      color: purple;
      font-family: 'Dancing Script', cursive;
  }
  #profileInfoDisplay{
    
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Dancing Script', cursive;
    color: purple;
    font-size: 15px;
    text-align: center;
    border: solid purple;
    padding: 10px;
    background-color: oldlace;
    opacity: 0.4;
    display: inline-block;
  }
  #AccountPageButtons{
    text-align: center;
    
  }
  #accountBody{
    background-image: url('../images/back_light_mid.jpg');
    background-size: cover;
      background-position: center;
    
  }
  .span{
    background-color: thistle;
    border: solid plum;
    border-radius: 6%;
    display: inline-block;
  }
  #profilePicDisplay{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  #profilePic{
    border-radius: 50%;
    display: inline-block;
    border: solid purple;
  }
  
  
  #profileWrap{
    display: block;
      text-align: center;
  }
  #uploadButton{
    display: none;
  }
  #loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-top: 16px solid lightskyblue;
    border-right: 16px solid lightblue;
    border-bottom: 16px solid lightgreen;
    border-left: 16px solid pink;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }